*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-align: center;
}

main,header{
    background-color: rgb(102,118,138);
    text-align: center;
    padding: 10px;
    
}
main p{
    width: 80%;
    margin: 10px auto;
}
main h1{
    
    text-align: center;
}
main section{
    text-align: center;
    margin: 60px auto;
}
section + section{
    background-color: rgb(219,223,226);
    text-align: center;
    float: left;
}

section + section + section{
    background-color: rgb(255,255,255);
    
}

/* header nav ul a li button{
    float: right;
} */
li{
    width: 20%;
    float: left;
}

ul{
    padding-bottom: 50px 0;
    list-style: none;
}

.hero{
    width: 100%;
    height: 300px;
    
}

footer{
    background-color: black;
    color: #fff;
    height: 150px;
}