*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 50px;
    background: black;
    color: white;
}
nav *{
    float: left;
    width: 10%;
    color: white;
    display: block;
}
nav ul{
    width: 60%;
}
nav form input{
    width: 100%;
}
main + section > section{
    width: 33.33%;
    float: left;
}
main > section{
    width: 50%;
    height: 500px;
    float: left;
}
main section + section section{
    width: 50%;
    height: 250px;
    float: left;
    border: 2px solid black;
}