body{
    background-color: aqua;
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: bold;
}
section{
    width: 50%;
    height: 600px;
    margin: 20px auto;
    border: 6px solid green;
    padding: 20px 40px;
    
}
img {
    width:200px;
    height:200px;
    float: right;
}