body{
    background-color: #87CEEB;
    font-size: 18px;
    color: white;
    font-weight: bold;
    width: 40%;
    /* height: 60vh; */
    margin: 20px auto;
    border: 6px solid #48CD31;
    padding: 20px 40px;
    
}
header,
footer{
    text-align: center;
}
ul li{
    display:inline-block;
}
main{
    text-align: left;
}

h2{
    margin-bottom: 30px;
}
img {
    width:200px;
    height:250px;
    float: right;
}
header li{
    border-left: 3px solid gray;
    color:#48cd31;
    padding-left: 5px;
}
header li:nth-child(1){
    border-left: none;
    color: white;
}

footer, a{
    text-align: center;
    color:#48cd31;
}
footer li{
    border-left: 3px solid gray;
    padding-left: 5px;
}
footer li:nth-child(1){
    border: none;
}