body{
    background-color: #87CEEB;
    font-size: 18px;
    color: white;
    font-weight: bold;
    width: 50%;
    height: 600px;
    margin: 20px auto;
    border: 6px solid #48CD31;
    padding: 20px 40px;
    
}
header{
    text-align: center;
}
ul li{
    display:inline-block;
}
main{
    text-align: left;
}

h2{
    margin-bottom: 30px;
}
img {
    width:200px;
    height:250px;
    float: right;
}
a{
    border-left: 6px solid #48cd31;
    color:#48cd31;
    padding-left: 5px;
}
footer{
    text-align: center;
}
footer li{
    
}